.app-header {
  height: 58px;
  flex: 0 0 58px;
  background: #fff;
  border-bottom: 1px solid #d9d9d9;
  font-size: 20px;
  font-weight: bold;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
  z-index: 2;
}
.app-header-logo {
  width: 48px;
  height: 48px;
  margin-right: 10px;
}

.logo {
  height: 32px;
  background: rgba(255, 255, 255, 0.2);
  padding: 16px;
  color: #fff;
  text-align: center;
  font-size: 18px;
  height: 57px;
}

.app-footer {
  height: 50px;
  flex: 0 0 58px;
  justify-content: center;
  align-items: center;
  background: #fafafa;
}

.ant-layout-sider-trigger {
  height: 58px;
}

.ant-layout-sider-zero-width-trigger {
  z-index: 100;
  top: 6px;
  background: #ffffff;
  color: #f06101;
}

.ant-layout-sider-zero-width-trigger:hover {
  background: #f06101;
  color: #ffffff;
}

.ant-drawer-header {
  padding: 13px 24px;
  background: #001529;
}

.ant-drawer-title {
  color: #ffffff;
}

.drawer-header-logo {
  width: 32px;
  height: 32px;
  margin-right: 10px;
}

.drawer-handle {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 41px;
  height: 40px;
  cursor: pointer;
  z-index: 0;
  text-align: center;
  line-height: 40px;
  font-size: 16px;
  display: -ms-flexbox;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -ms-flex-align: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  background: #fff;
}
.drawer-handle-icon {
  width: 14px;
  height: 2px;
  background: #333;
  position: relative;
  -webkit-transition: background 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  transition: background 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
.drawer-handle-icon:before,
.drawer-handle-icon:after {
  content: '';
  display: block;
  position: absolute;
  background: #333;
  width: 100%;
  height: 2px;
  -webkit-transition: -webkit-transform 0.3s
    cubic-bezier(0.78, 0.14, 0.15, 0.86);
  transition: -webkit-transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  transition: transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
  transition: transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86),
    -webkit-transform 0.3s cubic-bezier(0.78, 0.14, 0.15, 0.86);
}
.drawer-handle-icon:before {
  top: -5px;
}
.drawer-handle-icon:after {
  top: 5px;
}

.ant-drawer-body {
  padding: 0px;
}

.ant-drawer-close {
  color: rgba(255, 255, 255, 0.4);
}

.ant-drawer-close:focus,
.ant-drawer-close:hover {
  color: rgba(255, 255, 255, 1);
  text-decoration: none;
}

<<<<<<< head .app-login {
  width: 100%;
  height: 100%;
}
.app-login-header {
  height: 58px;
  flex: 0 0 58px;
  background: #fff;
  border-bottom: 1px solid #d9d9d9;
  font-size: 20px;
  font-weight: bold;
  flex-direction: row;
  align-items: center;
  overflow: hidden;
}
.app-login-header-logo {
  width: 48px;
  height: 48px;
  margin-right: 10px;
}
.app-login-content {
  flex: 1;
  flex-direction: row;
  min-height: 100vh;
  margin-bottom: -58px;
}

.app-login-content-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.app-login-content-form .mk-form-item {
  margin-bottom: 30px;
}
.app-login-content-form .ant-form-item-control-wrapper,
.app-login-content-form .ant-input-group-wrapper {
  width: 400px;
}
.app-login-content-form .ant-form-item-control,
.app-login-content-form .ant-input-wrapper {
  height: 50px;
}
.app-login-content-form .mk-input {
  height: 100%;
}
.app-login-content-form .ant-form-explain {
  margin-top: 5px;
}
.app-login-content-form-title {
  text-align: center;
  font-size: xx-large;
}
.app-login-content-form-mobile .ant-input {
  padding-left: 32px !important;
  font-size: large;
}
.app-login-content-form-password {
  margin-bottom: 20px !important;
}
.app-login-content-form-password .ant-input {
  padding-left: 32px !important;
  font-size: large;
}
.app-login-content-form-forget {
  margin-bottom: 5px !important;
  height: auto;
}
.app-login-content-form-forget .ant-form-item-control {
  height: auto;
}
.app-login-content-form-login {
  margin-bottom: 5px !important;
}
.app-login-content-form-login .mk-btn {
  width: 100%;
  height: 100%;
}
.app-login-content-form .ant-input-prefix {
  font-size: large;
  color: #ccc;
}
.app-login-footer {
  height: 50px;
  flex: 0 0 58px;
  justify-content: center;
  align-items: center;
  background: #fafafa;
}

.login-form {
  max-width: 300px;
}
.login-form-forgot {
  float: right;
}
.login-form-button {
  width: 100%;
}

.ant-layout-content {
  background: #00ff00;
  margin: -100px 0 -75px;
  min-height: 100%;
  height: auto !important;
  height: 100%;
}

.ant-layout-content:before {
  content: '';
  display: block;
  /* height: 100px; */
  width: 100%;
}

.ant-layout-content:after {
  content: '';
  display: block;
  /* height: 75px; */
  width: 100%;
}
.choise-layout {
  margin: 10px 0px;
}

.add-question {
  margin-right: 10px;
  float: right;
}
